<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :trans_type %><br>
    <%= f.text_field :trans_type %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :trans_from_id %><br>
    <%= f.text_field :trans_from_id %>
  </div>
  <div class="field">
    <%= f.label :trans_to_id %><br>
    <%= f.text_field :trans_to_id %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :from_account_id %><br>
    <%= f.number_field :from_account_id %>
  </div>
  <div class="field">
    <%= f.label :to_account_id %><br>
    <%= f.number_field :to_account_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
